#container{
    width: 960px;
    
    margin: 0 auto;
}
#container-2
{
    margin-top: 50px;
    border: 2px solid black;
    padding: 10px;
}

#container-3
{
    margin-top: 50px;
    border: 2px solid black;
    padding: 10px;
}
h1 
{
    padding-top:50px;
    padding-bottom: 50px;
    color:white;
    background-color: blue;
    text-align: center;
}


